# Enable rewrite engine
<IfModule mod_rewrite.c>
RewriteEngine On

# Rewrite rule to remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rewrite \link\customlink to \link?id=customlink
RewriteRule ^link/([^/]+)$ /link?id=$1 [L]

# Redirect rules
Redirect 301 /login /account/login

# Custom 404 page
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

# Disable directory browsing
Options All -Indexes

# Disable server signature
ServerSignature Off

# Disable ETags
FileETag None

# Set default charset
AddDefaultCharset utf-8

# Set default timezone
SetEnv TZ Europe/Paris

# Forbid access to some fields
<FilesMatch "(\.htaccess|\.htpasswd|secret\.php|/\.git|/\.vscode)">
    Order allow,deny
    Deny from all
</FilesMatch>

</IfModule>